body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: sans-serif
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    padding-left: 20%;
    padding-right:20%;

}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 25% 0.01% 25%;
    width: 50%;
}
img {
    border-radius: 45%;
    object-fit: cover;
}

.header-text {
    padding:0% 48% 0% 48%;
}
h1 {
    color: rgb(144, 202, 230)
}

.a-short-bio {
    display: flex;
    color: white;
    font-size: calc(clamp(1rem, 1.5vw + 0.5rem, 1.25rem)/1.25);
    line-height: 1.6;
    max-width: 100ch;
    text-align: justify;
    padding-left: 20.5%;
    padding-right:18%;
    margin-bottom: 1.2rem;
}
.b-short-bio {
    display: flex;
    color: white;
    font-size: calc(clamp(1rem, 1.5vw + 0.5rem, 1.25rem)/1.25);
    line-height: 1.6;
    max-width: 100ch;
    text-align: justify;
    padding-left: 20.5%;
    padding-right:18%;
    margin-bottom: 1.2rem;
}
.c-short-bio {
    display: flex;
    color: white;
    font-size: calc(clamp(1rem, 1.5vw + 0.5rem, 1.25rem)/1.25);
    line-height: 1.6;
    max-width: 100ch;
    text-align: justify;
    padding-left: 20.5%;
    padding-right:18%;
    margin-bottom: 1.2rem;
}
.d-short-bio {
    display: flex;
    color: white;
    font-size: calc(clamp(1rem, 1.5vw + 0.5rem, 1.25rem)/1.25);
    line-height: 1.6;
    max-width: 100ch;
    text-align: justify;
    padding-left: 20.5%;
    padding-right:18%;
    margin-bottom: 1.2rem;
}
.project {
    padding: 0% 48% 0% 48%;
}